*.home.bjbr.me {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	respond "Nothing here"
}

budget.home.bjbr.me {
	reverse_proxy actualbudget:5006
}

photos.home.bjbr.me {
	reverse_proxy immich-server:2283
}
